.tags-container {
  .css-yk16xz-control {
    border-color: #cccccc !important;
    box-shadow: none !important;
  }
  .css-1pahdxg-control {
    border-color: #cccccc !important;
    box-shadow: none !important;
  }

  margin-bottom: 1em;
}
